{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Magic Login plugin for Craft CMS 3.x
 *
 * Magic Login Settings.twig
 *
 * @author    Creode
 * @copyright Copyright (c) 2021 Creode
 * @link      https://www.creode.co.uk
 * @package   MagicLogin
 * @since     1.0.0
 */
#}

{% extends 'settings/plugins/_settings' %}

{% do view.registerAssetBundle("creode\\magiclogin\\assetbundles\\magiclogin\\MagicLoginAdminAsset") %}

{% set tabs = {
    general: { label: 'General'|t('magic-login'), url: '#settings-general' },
    emails: { label: 'Emails'|t('magic-login'), url: '#settings-emails' },
} %}

{% import "_includes/forms" as forms %}

{% block content %}

    {{ actionInput('plugins/save-plugin-settings') }}
    {{ hiddenInput('pluginHandle', plugin.handle) }}
    {{ redirectInput('settings') }}

    {% namespace 'settings' %}
        <div id="general">
            {{ forms.textField({
                first: true,
                label: 'Link Expiry',
                instructions: 'How long (in minutes) until a Magic Link expires.',
                id: 'linkExpiry',
                name: 'linkExpiry',
                min: 1,
                value: settings.linkExpiry})
            }}

            {{ forms.textField({
                label: 'Password Length',
                instructions: 'Users in Craft still need a password this plugin therefore generates one. You can set the length of this here.',
                id: 'passwordLength',
                name: 'passwordLength',
                min: 16,
                max: 50,
                value: settings.passwordLength})
            }}

            {{ forms.textField({
                label: 'Email Rate Limit',
                instructions: 'When sending magic login links, we may need some form of a rate limit. This is set here in minutes.',
                id: 'emailRateLimit',
                name: 'emailRateLimit',
                min: 1,
                value: settings.emailRateLimit})
            }}
        </div>

        <div id="emails" class="hidden">
            {{ forms.textField({
                first: true,
                label: 'Email Subject',
                instructions: 'What to display on the subject line for Magic Link emails.',
                id: 'authenticationEmailSubject',
                name: 'authenticationEmailSubject',
                value: settings.authenticationEmailSubject})
            }}
        </div>
    {% endnamespace %}
{% endblock %}