<html>
    <head>
    </head>
    <body>
        {{ beginBody() }}

        <div class="ml-wrap">

            {% if craft.app.session.hasFlash('error') %}
                <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
            {% endif %}

            <p class="ml-instructions">{{ 'Please enter your email below in order to log in.'|t('magic-login') }}</p>

            <form method="post" class="ml-form" id="magic-login-form">
                {{ actionInput('magic-login/magic-login/login') }}
                {{ csrfInput() }}

                <label for="email">Email</label>
                <input id="email" type="email" name="email" value="" placeholder="{{ 'Enter a valid email...'|t('magic-login') }}" /><br/>

                <button type="submit" class="ml-button" name="submitButton">{{ 'Submit'|t('magic-login') }}</button>
            </form>

        </div>

        {% do view.registerAssetBundle("creode\\magiclogin\\assetbundles\\magiclogin\\MagicLoginAsset") %}

        {{ endBody() }}
    </body>
</html>